/**************************Tag selectors************************/

body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

h1 {
    margin-top: 0;
    position: relative;
    font-family: 'East Sea Dokdo', cursive, sans-serif;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}

p {

    font-size: 20px;
    max-width: 80%;
    margin: 0 auto;
}

section {
    padding: 30px;
}

/**************************class selectors************************/

.btn{
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color:white;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    min-width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px; 
}
.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;

}
.btn span:after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;

}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after{
    opacity: 1;
    right: 0
}

.cloud1 {
    position: absolute;
    right: 20%;
    top: 10%;
    max-width: 25%;


}

.cloud2 {
    position: absolute;
    left: 15%;
    bottom: 35%;
    max-width: 28%;
    

}

.credits {
    text-size: 5px;
    color: black;
    text-decoration: none;
}

.bottom-container img {
    max-height: auto;
    max-width: 30px;
    padding: 0 3px;

}

.bottom-container a{
    text-decoration: none;
}

.logos {
    max-height: 40px;
    max-width: auto;
    padding-top: 10px;
}

.logos:hover {
    max-height: 55px;
    max-width: auto;
}

.mountain {
    max-width: 70%;
    max-height: auto;

}

.profile img {
    /*height: 20px;
  width:20px;*/
    position: relative;
    top: 30px;
    margin: 0 auto;
    max-height: auto;
    max-width: 35%;
}

.profile:hover img{
    max-width: 38%;
    max-height: auto;
}
.skillsbanner {
    max-height: auto;
    max-width: 40%;
    padding: 10px;
}

.topcontainer {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
    width: 100%;
}

/************************** id selectors ************************/
